/********************
 * dynamic notebook *
 ********************/
.dynamic-notebook {
    background-color: shade(@theme_base_color, 1.0);
    background-image: none;
}

.dynamic-notebook GtkLabel,
.dynamic-notebook GtkImage {
    color: alpha(@theme_fg_color, 0.5);
}

.dynamic-notebook .notebook {
    -GtkNotebook-tab-overlap: 0;
    -GtkNotebook-initial-gap: 6px;
    
    border-width: 1px 0 0 0;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    padding: 1px 0 0 0;
}

.dynamic-notebook .notebook tab {
    padding: 6px;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
}

.dynamic-notebook .notebook tab:nth-child(first) {
    border-width: 0 1px 0 1px;
}

.dynamic-notebook .notebook tab:active {
    border-width: 0;
    border-radius: 0;
    background-color: @theme_base_color;
    color: transparent;
    
    box-shadow: inset 0 -2 @theme_selected_bg_color;
}

.dynamic-notebook .notebook tab .entry {
    border-radius: 2px;
    padding: 4px 3px;
}

.dynami

.dynamic-notebook .button:hover,
.dynamic-notebook .button:hover:active,
.dynamic-notebook .notebook .button,
.dynamic-notebook .notebook .button:hover,
.dynamic-notebook .notebook .button:hover:active {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.10);
    background-image: none;
    icon-shadow: none;
}

.dynamic-notebook .button:hover:active,
.dynamic-notebook .notebook .button:hover:active {
    border-color: shade(@theme_bg_color, 0.7);
    color: shade(@theme_fg_color, 0.7);
    icon-shadow: none;
}

/****************
 * content view *
 ****************/
.content-view-window {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 2px;
    background-color:@theme_bg_color;
    color: @theme_fg_color;
}

.content-view,
.content-view GtkViewport {
    background-color: @theme_base_color;
}

.content-view * {
    background-color: transparent;
    background-image: none;
}

.content-view .entry {
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

.content-view .button {
    border-style: none;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 0.97);
    background-image: none;
    color: @theme_fg_color;
}

.content-view .button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.02);
    background-image: none;
    color: @theme_selected_bg_color;
}

.content-view .button:active {
    border-color: shade(@button_bg_color, 0.8);
    background-color: shade(@button_bg_color, 0.95);
    background-image: none;
}

.content-view .button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
    color: shade(@theme_fg_color, 0.7);
}

.content-view .button:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

.content-view .help_button * {
    color: @theme_fg_color;
}   

.content-view .toolbar {
    -GtkWidget-window-dragging: true;

    padding: 1px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @toolbar_bg_color;
    background-image: none;
}

/**************
 * sourcelist *
 *************/
.source-list,
.source-list.view {
    border-radius: 0;
    border-color: @theme_bg_color;
    background-color: shade(@button_bg_color, 1.10); /*shade(@theme_bg_color, 1.10);*/
    color: @theme_selected_fg_color;/*mix(@theme_fg_color, @theme_bg_color, 0.1);*/
}

.source-list {
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
    padding: 6px 6px;
}

.source-list.view:selected,
.source-list.view:prelight:selected {
    background-color: shade(@button_bg_color, 1.05);
    color: @theme_selected_fg_color;
    box-shadow: inset 2 0 shade(@theme_selected_bg_color, 1.08);
    text-shadow: 0 -1 #333;
}

.source-list.view:prelight {
    background-color: shade(@button_bg_color, 1.08);
}

.source-list.badge,
.source-list.badge:prelight,
.source-list.badge:selected,
.source-list.badge:prelight:selected {
    margin: 0 3px;
    padding: 0 6px;
    border-width: 0;
    border-radius: 10px;
    background-color: shade(@theme_selected_bg_color, 1.2);
    background-image: none;
    color: @theme_selected_fg_color;
}

/*************
 * statusbar *
 *************/
GraniteWidgetsStatusBar {
    padding: 4px;
    border-top-style: solid;
    border-top-color: shade(@theme_bg_color, 0.85);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 1.2);
    background-image: none;
}

/***********
 * popover *
 **********/
GraniteWidgetsPopOver {
    -GraniteWidgetsPopOver-arrow-width: 21;
    -GraniteWidgetsPopOver-arrow-height: 12;
    -GraniteWidgetsPopOver-border-radius: 2px;
    -GraniteWidgetsPopOver-border-width: 1;
    -GraniteWidgetsPopOver-shadow-size: 12;

    margin: 0;
    border-style: solid;
    border-color: alpha(mix(@menu_bg_color, @menu_fg_color, 0.95), 0.75);
    color: @menu_bg_color;
}

.popover_bg {
    background-color: alpha(mix(@menu_bg_color, @menu_fg_color, 0.95), 0.75);
    background-image: none;
}

GraniteWidgetsPopOver .sidebar.view,
GraniteWidgetsPopOver * {
    background-color: transparent;
    color: @menu_fg_color;
}

GraniteWidgetsPopOver .sidebar.view:selected,
GraniteWidgetsPopOver .sidebar.view:selected:focus,
GraniteWidgetsPopOver *:selected,
GraniteWidgetsPopOver *:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

GraniteWidgetsPopOver .button {
    border-color: shade(@menu_bg_color, 0.8);
    background-color: shade(@menu_bg_color, 1.08);
    background-image: none;
    color: @menu_fg_color;
}

GraniteWidgetsPopOver .button:hover {
    border-color: shade(@menu_bg_color, 0.7);
    background-color: shade(@menu_bg_color, 1.10);
    background-image: none;
    color: shade(@menu_fg_color, 0.7);
}

GraniteWidgetsPopOver .button:active {
    border-color: shade(@menu_bg_color, 0.8);
    background-color: shade(@menu_bg_color, 0.95);
    background-image: none;
}

GraniteWidgetsPopOver .button:active:hover {
    border-color: shade(@menu_bg_color, 0.7);
    color: shade(@menu_fg_color, 0.7);
}

GraniteWidgetsPopOver .entry {
    border-color: shade(@menu_bg_color, 0.7);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

GraniteWidgetsPopOver .entry:active,
GraniteWidgetsPopOver .entry:focus {
    border-color: shade(@menu_bg_color, 0.7);
}

GraniteWidgetsPopOver *.separator {
    border-color: shade(@menu_bg_color, 0.9);
    color: transparent;
}

.button.app {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    color: @menu_bg_color;
}

/*
.button.app:hover {
    transition: 150ms linear;
    border-color: shade(@theme_bg_color, 0.9);
    background-color: shade(@theme_bg_color 0.85);
    background-image: none;
    color: @theme_selected_fg_color;
}

.button.app:focus {
    border-color: shade(@theme_bg_color, 0.9);
    background-color: shade(@theme_bg_color 0.85);
    background-image: none;
    color: @theme_selected_fg_color;*/
}

/********
 * gala *
 *******/
.gala-workspaces-background {
    border-width: 1px 0 0 0;
    border-color: shade(@panel_bg_color, 0.8);
    background-color: @panel_bg_color;
    background-image: none;
}

.gala-workspace-selected {
    border-width: 1px;
    border-radius: 2px;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
    background-image: none;
}

/*********
 * files *
 ********/
.files-overlay-bar {
    margin: 3px;
    padding: 3px 6px;
    border-width: 0;
    border-radius: 2px;
    background-color: @theme_tooltip_bg_color;
}

.files-overlay-bar* {
    color: @theme_tooltip_fg_color;
}

/*********
 * noise *
 ********/
.album-list-view,
.album-list-view * {
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_base_color;
    color: @theme_fg_color;
}

.album-list-view GtkTreeView {
    -GtkTreeView-vertical-separator: 1;
    -GtkTreeView-grid-line-width: 0;

    background-color: @theme_base_color;
    color: @theme_fg_color;
}

.album-list-view GtkTreeView row:nth-child(even) {
    border-width: 0;
    border-style: none;
    background-color: shade(@theme_base_color, 0.97);
}


.album-list-view GtkTreeView row:nth-child(odd) {
    border-width: 0;
    border-style: none;
    background-color: shade(@theme_base_color, 1.0);
}

.album-list-view GtkTreeView row:selected {
    background-color: @selected_bg_color;
	color: @selected_fg_color;
}

/**********
 * notify *
 *********/
.notify {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_base_color, 0.7);
    border-radius: 2px;
    background-color: @theme_base_color;
    color: @theme_text_color;
}

.notify .low {
}

.notify .critical {
}

/*********
 * panel *
 ********/

.panel {
    background-color: @panel_bg_color;
    color: #fff;
    font-weight: bold;
}

.panel-shadow {
    background-color: @transparent;
    background-image: -gtk-gradient (linear,
                     left top, left bottom,
                     from (alpha (#000, 0.3)),
                     to (alpha (#000, 0.0)));
}

.panel-app-button {
    -GtkMenuItem-horizontal-padding: 6px;
}

.composited-indicator {
    background-color: @transparent;
    color: #fff;
    padding: 0 2px;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
    border-style: none; 
    background-image: none;
}

/*_____________________________________________________________________________________________*/
/* Copyright 2011-2013 elementary LLC.
*
* This file is part of the elementary GTK theme.
*
* The elementary GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The elementary GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the elementary GTK theme. If not, see http://www.gnu.org/licenses/.
*/

.content-view-window {
    background-color: @theme_base_color;
    
    border-radius: 0;
    
    border-width: 1px;
    border-style: solid;
    border-color: alpha (#000, 0.15);

}

.content-view,
.content-view GtkViewport {
    background-color: @base_color;

}

.content-view GtkNotebook,
.content-view GtkTreeView,
.content-view GtkTextView,
.content-view GtkEventBox {
    background-image: none;
    background-color: @transparent;
}

.content-view column-header .button {
	border-width: 0 0 1px 1px;


    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (shade (@base_color, 0.98)),
                    to (shade (@base_color, 0.92)));

}

.content-view .entry {

    padding: 4px 5px;
    border-style: solid;
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 1.05);
    background-image: none;
    border-color: shade(@theme_bg_color, 0.9);
    color: @theme_text_color;
}

.content-view .entry:insensitive {

    background-image: -gtk-gradient (linear,
			         left top,
			         left bottom,
			         from (alpha (#000, 0.10)),
                     color-stop (0.20, alpha (#000, 0.00)),
			         to (alpha (#000, 0.00)));
}



.content-view .title,
.content-view .option-title {
    color: @text_color;
    text-shadow: 0 1 alpha (#fff, 0.3);
}


.content-view .subtitle,
.content-view .option-description {
    color: alpha (@text_color, 0.5);
    text-shadow: 0 1 alpha (#fff, 0.4);
}

.content-view GtkComboBox.button,
.content-view GtkComboBox .button,
.content-view .button {

    color: @theme_bg_color;

    border-style: none;
    border-radius: 0;

    background-color: @button_bg_color;

    background-image: none;
}

.content-view .menu .menuitem:active,
.content-view .menu .menuitem *:active,
.content-view .menu .menuitem:hover,
.content-view .menu .menuitem *:hover {
    transition: 0ms linear;
    color:  @theme_selected_bg_color;/*shade(mix(@plum, @theme_selected_bg_color, 0.5), 1.45);/*@menu_item_selected;*/
}

.content-view .button:hover,
.content-view .button:active,
.content-view .button:active:hover {
    
    color: @theme_bg_color;

    border-style: none;
    border-radius: 0;

    background-color: shade(@button_bg_color, 1.17);

    background-image: none;

}

.content-view .button:insensitive {
    background-color: shade(@theme_bg_color, 0.85);
    border-radius: 0;
    background-image: none;
}

.content-view .button GtkLabel:insensitive {
    color: @insensitive_color;
}

.content-view .button:focus {
    
    background-image: none;
    color: @theme_selected_bg_color;
}

.content-view .help_button GtkLabel {
    color: @text_color;
}   

.content-view .toolbar {
    -GtkWidget-window-dragging: true;
    
    padding: 1px;
    
    border-style: solid;
	border-width: 0 0 1px 0;

    border-color: alpha (#000, 0.05);
    background-color: @toolbar_bg_color;
    background-image: none;

}

.content-view GtkTreeMenu.menu,
.content-view GtkMenuToolButton.menu,
.content-view GtkComboBox .menu {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

.content-view .check,
.content-view .check row:selected,
.content-view .check row:selected:focus {

	border: 1px solid;
    background-color: #f7f7f7;
    background-image: none;

}

