/****************
 * cell and row *
 ****************/
.cell {
    border-width: 1px;
    border-color: transparent;
    border-radius: 0;
    box-shadow: None;
    background-color: transparent;
}

.cell:selected,
.cell:selected:focus {
    background-color: alpha (@theme_base_color, 0.75);
    border-top: solid 1px alpha (black, 0.07);
    border-bottom: solid 1px alpha (black, 0.04);
    box-shadow: inset 0 -1px alpha (black, 0.1);
    color: @theme_selected_fg_color;
}

.cell:selected.image:hover {
    color: shade(@theme_selected_fg_color, 1.15);
}

GtkTreeView.cell.button {
    color: @theme_fg_color;
}

GtkTreeView.cell.button:hover {
    color: @theme_selected_fg_color;
}

row:selected,
row:selected:hover,
row:selected:focus {
    border-style: none;
    border-color: shade(@theme_selected_fg_color, 0.9);
    background-color: transparent;
    color: @theme_selected_fg_color;
    background-image: none;
    font-weight: bold;
}
