/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 0 0 0 0;
    background-image: none;
    background-color: @toolbar_bg_color;
    color: @toolbar_fg_color;
    text-shadow: none;
}

.titlebar:insensitive {
    border-radius: 0 0 0 0;
    background-image: none;
    background-color: @toolbar_bg_color;
    color: @toolbar_fg_color;
    text-shadow: none;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar .title {
    font: bold;
}

.titlebar:backdrop {
    background-image: none;
    background-color: @toolbar_bg_color;
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.4);
    text-shadow: none;
}

.titlebar:backdrop:insensitive {
    background-image: none;
    background-color: @toolbar_bg_color;
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.4);
    text-shadow: none;
}

.titlebar .titlebutton {
    padding: 6px 6px;
    border-style: none;
    background: none;
    color: @toolbar_fg_color;
    icon-shadow: none;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    background: none;
    color: shade(@theme_selected_fg_color, 1.15)
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    color: shade(@theme_selected_fg_color, 1.2)
    box-shadow: none;
}

/*
.titlebar .right .titlebutton:first-child {
    border-left: 1px solid shade(@toolbar_bg_color, 0.9);
}

.titlebar .right .titlebutton:last-child {
}

.titlebar .left .titlebutton:last-child {
    border-right: 1px solid shade(@toolbar_bg_color, 0.9);
}

.titlebar .left .titlebutton:first-child {
}
*/

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: shade(@toolbar_fg_color, 1.75);
    icon-shadow: none;
}

.titlebar .button {
    padding: 6px 6px;
    background-color: @toolbar_bg_color; /*makes it practically transparent*/
    color: @toolbar_fg_color;
}

.titlebar .button:hover,
.titlebar .button:active:hover {
    background-color: @toolbar_bg_color;
    color: shade(@theme_selected_fg_color, 1.2)
}

.titlebar .button:active {
    background-color: @toolbar_bg_color;
    color: @theme_selected_fg_color;
}


.titlebar .separator {
    color: shade(@toolbar_bg_color, 0.87);
}

.window-frame {
    border-style: none;
    border-radius: 0 0 0 0;
    border-color: @toolbar_bg_color;
    /*box-shadow: 0 3px 7px 1px alpha(black, 0.7),
                0 0 0 1px mix(shade(@toolbar_bg_color, 0.7), @toolbar_fg_color, 0.21);

    this is used for the resize cursor area */

    box-shadow: 0 2px 8px 3px alpha(@dark_shadow, 0.5);

    margin: 10px;
}

.window-frame:backdrop {
    box-shadow: 0 3px 5px 1px alpha(black, 0.5),
                0 0 0 1px mix(shade(@toolbar_bg_color, 0.7), @toolbar_fg_color, 0.12);
}

