.header-bar,
.header-bar:insensitive {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: shade(@toolbar_bg_color, 0.90);

	background-color: @toolbar_bg_color;
    padding: 6px 6px;
}

.header-bar .button.text-button {
	padding: 6px 6px;
}

.header-bar .button.image-button {
	padding: 6px 6px;
}

.header-bar .title {
	font: Bold 10;
    color: @toolbar_fg_color;
}

.header-bar .subtitle {
	font: 9;
    color: @toolbar_fg_color;
}
