/********
 * menu *
 ********/
GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}


GtkTreeMenu.menu:active {
    background-color: @menu_bg_color; 
}

.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.menu {
    padding: 0;
    border-width: 0;
    border-radius: 0;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

.primary-toolbar .button .menu:hover,
.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
    border-width: 0;
    background-color: @menu_bg_color;
    color: @theme_dark_selected;
    background-image: none;
}

/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    border-width: 0;
    background-color: @menubar_bg_color;
    background-image: none;
    color: @menubar_fg_color;
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem,
.menubar .menuitem {
    padding: 6px 6px; /*Item on menubar*/
    border-width: 1px 1px 0 1px;
    background-color: @menubar_bg_color;
    color: @menubar_fg_color;
}

.panel .menubar.menuitem,
.panel .menubar .menuitem {
    padding: 3px 6px;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    transition: 100ms ease-in-out;
    border-color: mix(@theme_bg_color, @theme_fg_color, 0.23);
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.21);
    background-image: none;
}

.menubar .menuitem *:hover {
    color: @theme_dark_selected;
}

/************
 * menuitem *
 ************/
GtkTreeMenu .menuitem {
    color: @menu_fg_color;
    padding: 6px 6px;
    border-width: 0;
    background-color: @menu_bg_color;
}

GtkTreeMenu .menuitem * {
    color: @menu_fg_color;
}

.menuitem,
.menu .menuitem {
    padding: 6px 3px;
    border-style: none;
    border-radius: 0;
    background-color: @menu_bg_color;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    border-style: none;
    background-color: shade(@menu_bg_color, 0.97);
    border-radius: 0;
    color: @theme_selected_bg_color;
    background-image: none;
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
    transition: 200ms linear;
    background-color: @menu_bg_color;
    color:  @theme_selected_bg_color; /*shade(mix(@plum, @theme_selected_bg_color, 0.5), 1.45);/*@menu_item_selected;*/
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    border-style: none;
    background-color: transparent;
    color: @theme_selected_bg_color;
    background-image: none;
}

.menuitem.check:active,
.menuitem.radio:active {
    border-style: none;
    background-color: transparent;
}

.menuitem GtkCalendar:inconsistent {
    color: mix(@menu_fg_color, @menu_bg_color, 0.5);
}

.menuitem GtkCalendar.button {
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.menuitem .entry {
    border-color: shade(@menu_bg_color, 0.7);
    background-color: @menu_bg_color;
    background-image: none;
    color: @menu_fg_color;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border-color: shade(@menu_bg_color, 0.7);
}

.menuitem .accelerator {
    color: alpha(@menu_fg_color, 0.6);
}

.menuitem .accelerator:hover {
    color: alpha(@theme_selected_fg_color, 0.8);
}

.menuitem .accelerator:insensitive {
    color: alpha(mix(@menu_fg_color, @menu_bg_color, 0.5), 0.6);
}
