/************
 * notebook *
 ************/
.notebook {
    padding: 0;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.85);
    border-radius: 0;
    background-color: @theme_base_color;
    background-image: none;
}

.notebook tab {
    padding: 3px 15px;
    border-color: transparent;
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
}

.notebook tab:active {
    transition: 100ms ease-in-out;
    border-color: shade(@theme_bg_color, 0.85);
    background-color: @theme_base_color;
    background-image: none;
    color: transparent;
}

.notebook tab GtkLabel {
    color: @theme_text_color;
}

.notebook tab.top {
    border-width: 1px 1px 0 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.notebook tab.top:active {
}

.notebook tab.right {
    border-width: 1px 1px 1px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.notebook tab.right:active {
}

.notebook tab.bottom {
    border-width: 0 1px 1px 1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.notebook tab.bottom:active {
}

.notebook tab.left {
    border-width: 1px 0 1px 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.notebook tab.left:active {
}

.notebook tab .button:hover {
    color: shade(@theme_selected_bg_color, 1.12);
}

.notebook tab .button:active {
    color: shade(@theme_selected_bg_color, 1.0);
    background-color: @theme_bg_color;
}
