
/*************
 * scrollbar *
 *************/
.scrollbar {
    border-style: solid;
    padding: 0;
}

.scrollbars-junction,
.scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover {
    transition: 100ms ease-in;
    border-width: 0;
    border-color: transparent;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@theme_bg_color, 0.6);
}

.scrollbar.slider {
    border-width: 0;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 0.9);
}

.scrollbar.slider:hover,
.scrollbar.slider.vertical:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 0.8);
}

.scrollbar.slider:active,
.scrollbar.slider.vertical:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

/* overlay scrollbar */
OsThumb {
    color: shade(@theme_bg_color, 0.7);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: shade(mix(@theme_selected_bg_color, #ff0000, 0.75), 1.25);;
}

OsThumb:active,
OsScrollbar:active {
    background-color: shade(mix(@theme_selected_bg_color, #ff0000, 0.75), 1.25);;
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

/* avoid double borders when a viewport is 
 * packed into a GtkScrolledWindow */
GtkScrolledWindow GtkViewport.frame {
    border-style: none;
}
