/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar.view,
.sidebar .view {
    background-color: @theme_base_color;
    font-weight: bold;
    color: @theme_fg_color;
}

.sidebar .frame {
    border-width: 0;
}
